.prompts-popup-flexbox {
    display: flex;            /* Use flexbox for layout */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 5;
  }
  
  .prompts-popup {
    position: relative;
    box-shadow: 4.6px 9.3px 9.3px hsl(0deg 0% 0% / 0.36);
    display: none;
    width: 80%;
    height: 90%;
    background: white;
    border: 1px solid black;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 4px;
    max-width: 1200px;
    pointer-events: visible;
    z-index: 6;
  }
  
  .prompts-popup > p, .prompts-popup > div {
    max-width: 1152px;
    max-width: 1152px;
  }
  
  .prompts-popup .close-cross {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: var(--font-large);
    cursor: pointer;
  }
  .prompts-popup .close-cross:hover {
    color: white;
    background: black;
  }
  
  
  
  .prompts-popup span.prompt-hover {
    height: 30px;
    transition: height 0.3s ease;
  }
  .prompts-popup span.prompt-hover:hover {
    height: 40px;
  }
  
  
  
  .prompts-popup .text-stats span {
    margin-right: 1em;
  }
  .prompts-popup .prompt {
    margin-top: 30px;
  }
  .prompts-popup .prompt em {
    font-weight: bold;
    font-style: normal;
    font-size: var(--font-medium);
  }
  
  .prompts-popup .other-bot {
    cursor: pointer;
    color: #005f87;
  }
  .prompts-popup .other-bot:hover {
    
    text-decoration: underline;
  }
  .prompts-popup .clip-effect {
    display: inline-block;
    overflow: hidden; /* Prevents overflow */
    white-space: nowrap; /* Keeps text in one line */
    animation: reveal 0.5s linear forwards;
  }
  
  
  @keyframes reveal {
    from {
        clip-path: inset(0 100% 0 0); /* Initially hide text */
    }
    to {
        clip-path: inset(0 0 0 0); /* Fully reveal text */
    }
  }
  