:root{
  --font-large: 26px;
  --font-medium: 20px;
  --font-small: 16px;
  --font-tiny: 14px;
}

html, body {
  height: 100vh; /* Ensures the page does not exceed the viewport height */
  overflow: hidden; /* Prevents the page from scrolling unexpectedly */
  margin: 0; /* Removes default margins */
}

.app-container{
  font-family: sans-serif;
  display:grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(250px, 20%) auto;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 2000px;
  margin: auto;
} 

.prompts-popup-flexbox {
  display: flex;            /* Use flexbox for layout */
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 200px;
  pointer-events: none;
}

.prompts-popup {
  position: relative;
  box-shadow: 4.6px 9.3px 9.3px hsl(0deg 0% 0% / 0.36);
  display: none;
  width: 80%;
  height: 90%;
  background: white;
  border: 1px solid black;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 4px;
  max-width: 1200px;
  pointer-events: visible;
}

.prompts-popup > p, .prompts-popup > div {
  max-width: 1152px;
  max-width: 1152px;
}

.prompts-popup .close-cross {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: var(--font-large);
  cursor: pointer;
}
.prompts-popup .close-cross:hover {
  color: white;
  background: black;
}



.prompts-popup span.prompt-hover {
  height: 30px;
  transition: height 0.3s ease;
}
.prompts-popup span.prompt-hover:hover {
  height: 40px;
}



.prompts-popup .text-stats span {
  margin-right: 1em;
}
.prompts-popup .prompt {
  margin-top: 30px;
}
.prompts-popup .prompt em {
  font-weight: bold;
  font-style: normal;
  font-size: var(--font-medium);
}

.prompts-popup .other-bot {
  cursor: pointer;
  color: #005f87;
}
.prompts-popup .other-bot:hover {
  
  text-decoration: underline;
}
.prompts-popup .clip-effect {
  display: inline-block;
  overflow: hidden; /* Prevents overflow */
  white-space: nowrap; /* Keeps text in one line */
  animation: reveal 0.5s linear forwards;
}


@keyframes reveal {
from {
  clip-path: inset(0 100% 0 0); /* Initially hide text */
}
to {
  clip-path: inset(0 0 0 0); /* Fully reveal text */
}
}





.info-section {
  display: flex;
  flex-direction: column;
  grid-column-start: 1; grid-column-end: 2;    
  width: 100%;
  height: 100%;
  max-height: 100vh; /* SUPPOSEDLY Prevents it from growing beyond its parent */
  min-height: 100vh; /* SUPPOSEDLY Fixes flexbox behavior where children may force parent to expand */
  overflow: hidden;
  padding-left: 10px;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto; 
}
.info-static {
  flex: none;
}
.info-static .title{
  width: 100%;
}
.info-static text{
  fill: #1fa0a9;
  font-family: sans-serif;
}

.info-static .video img {
  width: 100%;
  max-height: 250px;
}

.info-section .hoverHint {
  font-size: var(--font-medium);
}
.info-section .colorlegend {
  font-size: var(--font-medium);
}
.info-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.info-image img {
  width: 100%;
}
.info-hint-topics {
  flex: none;
}
.info-menu {
  flex: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.info-menu-item svg {
  height: 20px;
  position: relative;
  top: 0.2em;
  stroke: #aaa;
  fill: #aaa;
  cursor: pointer;
} 
.info-menu-item a {
  font-size: var(--font-small);
  color: #aaa;
  text-decoration: none;
}
.info-menu-item:hover a {color: blue;  text-decoration: underline;}
.info-menu-item:hover svg {fill: blue; stroke: blue;}
.info-question-details {
  flex-grow: 1; 
  overflow: auto;
  min-height: 0; /* SUPPOSEDLY Ensures the child respects parent's boundaries */
  margin-top: 30px;
  font-size: var(--font-medium);
}
.info-question-details p,
.info-question-details h2 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.correct {
  font-weight: bold;
  color: darkgreen;
}
.wrong {
  font-weight: bold;
  color: orange;
}
.verywrong {
  font-weight: bold;
  color: red;
}


.chart-section {
  grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2;
  padding-top: 20px;
  position: relative; 
  overflow: hidden;
}
.chart-section .one-chart {
  position: relative;
  z-index: 0;
  /*border: 1px solid red;*/
}

canvas {
  /*border: 1px solid green;*/
  position: relative;
}

.chart-section .xaxis text, .chart-section .xaxistext{
  font-size: var(--font-small);
}






.header{
  position: absolute;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: 25px 20px;
  justify-content: start;
  row-gap: 5px;
  column-gap: 5px;
  pointer-events: none;
}
.header .logo {
  grid-column-start: 1; grid-column-end: 2; grid-row-start:1; grid-row-end:2;
  pointer-events: none;
  height: 40px;
}
.header .title {
  grid-column-start: 2; grid-column-end: 3; grid-row-start:1; grid-row-end:2;
  pointer-events: none;
}
.header .input {
  grid-column-start: 2; grid-column-end: 3; grid-row-start:2; grid-row-end:3;
}
.header .input select {
  opacity: 0.5;
  font-size: var(--font-tiny);
  border: 1px solid transparent;;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #444;
  cursor: pointer;
  pointer-events: visible;
}
.header .input select:hover {
  opacity: 1;
  border: 1px solid #000;
  color: #000;
  background-color: rgba(255, 255, 255, 1);
}



.questions-section {
  flex: none;
}
.question-icon {
  flex: 1 1 calc(15%); 
  margin: 2px; 
  box-sizing: border-box; 
  cursor: pointer;
}
.question-icon img {
  width: 100%;
}
.questions-section .question-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.questions-section .question-pile-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}
.questions-section .question-pile {
  line-height: 10px;
  max-width: 75px;
}
.questions-section .question-rect{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
}
  